In [1]:
import numpy as np
import pandas as pd

In [13]:
match = pd.read_csv('data/IPL Matches 2008-2020.csv')
delivery = pd.read_csv('data/IPL Ball-By-Ball 2008-2020.csv')

In [84]:
match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [85]:
delivery.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [86]:
total_score_df = delivery.groupby(['id','inning']).sum()['total_runs'].reset_index()

In [87]:
total_score_df = total_score_df[total_score_df['inning']==1]

In [88]:
total_score_df

           id  inning  total_runs
0      335982       1         222
2      335983       1         240
4      335984       1         129
6      335985       1         165
8      335986       1         110
...       ...     ...         ...
1620  1216547       1         201
1622  1237177       1         200
1624  1237178       1         131
1626  1237180       1         189
1628  1237181       1         156

[816 rows x 3 columns]

In [89]:
match_df = match.merge(total_score_df[['id','total_runs']], left_on='id', right_on='id')

In [90]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [91]:
teams = [
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Royal Challengers Bangalore',
    'Kolkata Knight Riders',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Delhi Capitals'    
]

In [92]:
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

In [93]:
match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

In [94]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team2'].isin(teams)]

In [95]:
match_df.shape

(701, 18)

In [96]:
match_df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,222
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,240
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,129
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,165
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,201
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,200
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,131
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,189
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,156

In [97]:
match_df = match_df[['id', 'city', 'winner', 'total_runs']]

In [98]:
match_df.head()

       id        city                       winner  total_runs
0  335982   Bangalore        Kolkata Knight Riders         222
1  335983  Chandigarh          Chennai Super Kings         240
2  335984       Delhi             Delhi Daredevils         129
3  335985      Mumbai  Royal Challengers Bangalore         165
4  335986     Kolkata        Kolkata Knight Riders         110

In [99]:
delivery_df = match_df.merge(delivery, on='id')

In [100]:
delivery_df = delivery_df[delivery_df['inning']==2]

In [101]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,extra_runs,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,1,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals

In [102]:
delivery_df['current_score'] = delivery_df.groupby('id').cumsum()['total_runs_y']

In [103]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,total_runs_y,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,1,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,1,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,1,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157

In [104]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [105]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,0,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1

In [106]:
delivery_df['balls_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])

In [107]:
delivery_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,82
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,81
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,80
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,79
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2,12
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1,11
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0,10
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0,9
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1,8

In [108]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: x if x=='0' else '1')
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets = delivery_df.groupby('id').cumsum()['player_dismissed'].values
delivery_df['wickets'] = 10 - wickets
delivery_df.head(3)

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,82,10
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,81,10
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,80,10

In [109]:
delivery_df.tail()

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets
166366,1237181,Dubai,Mumbai Indians,156,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,154,2,12,6
166367,1237181,Dubai,Mumbai Indians,156,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,155,1,11,6
166368,1237181,Dubai,Mumbai Indians,156,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,156,0,10,6
166369,1237181,Dubai,Mumbai Indians,156,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,caught,1,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,0,9,5
166370,1237181,Dubai,Mumbai Indians,156,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,157,-1,8,5

In [110]:
# cur_run_rate = runs/overs
delivery_df['crr'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

In [111]:
delivery_df['rrr'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

In [112]:
delivery_df.head()

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,fielder,extras_type,batting_team,bowling_team,current_score,runs_left,balls_left,wickets,crr,rrr
121,335982,Bangalore,Kolkata Knight Riders,222,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,222,82,10,0.000000,16.243902
122,335982,Bangalore,Kolkata Knight Riders,222,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,221,81,10,0.153846,16.370370
123,335982,Bangalore,Kolkata Knight Riders,222,2,6,4,MV Boucher,CL White,AB Agarkar,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,220,80,10,0.300000,16.500000
124,335982,Bangalore,Kolkata Knight Riders,222,2,6,5,MV Boucher,CL White,AB Agarkar,...,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,79,10,0.439024,16.632911
125,335982,Bangalore,Kolkata Knight Riders,222,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,219,78,10,0.428571,16.846154

In [113]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [114]:
delivery_df['result'] = delivery_df.apply(result, axis=1)

In [115]:
final_df = delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets','total_runs_x', 'crr','rrr','result']]

In [136]:
final_df.sample(final_df.shape[0])

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
124197,Sunrisers Hyderabad,Rajasthan Royals,Hyderabad,103,66,10,125,2.444444,9.363636,1
47779,Chennai Super Kings,Rajasthan Royals,Chennai,44,43,8,147,8.025974,6.139535,1
150960,Mumbai Indians,Kolkata Knight Riders,Mumbai,21,34,9,133,7.813953,3.705882,1
74177,Delhi Daredevils,Kolkata Knight Riders,Raipur,57,17,9,136,4.601942,20.117647,1
24495,Deccan Chargers,Kings XI Punjab,Johannesburg,104,103,10,134,10.588235,6.058252,0
...,...,...,...,...,...,...,...,...,...,...
48119,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,148,62,5,205,5.896552,14.322581,0
98242,Sunrisers Hyderabad,Delhi Daredevils,Visakhapatnam,63,91,5,167,21.517241,4.153846,0
119715,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,112,89,6,131,3.677419,7.550562,0
31922,Mumbai Indians,Chennai Super Kings,Mumbai,7,89,6,180,33.483871,0.471910,1
103142,Kings XI Punjab,Mumbai Indians,Chandigarh,24,72,3,172,18.500000,2.000000,0

In [137]:
final_df.dropna(inplace=True)

c:\python\python3.9.2\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [139]:
final_df = final_df[final_df['balls_left']!=0]

In [140]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
30905,Chennai Super Kings,Kings XI Punjab,Chennai,47,75,5,136,11.866667,3.76,0

In [141]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1]

In [142]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [143]:
X_train.shape

(62839, 9)

In [144]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
],remainder='passthrough')

In [145]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [146]:
pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', LogisticRegression(solver='liblinear'))
])
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [147]:
X_train.describe()

,runs_left,balls_left,wickets,total_runs_x,crr,rrr
count,62839.000000,62839.000000,62839.000000,62839.000000,62839.000000,62839.000000
mean,89.831617,63.115183,7.167396,164.881013,16.616295,16.262792
std,50.741137,33.266783,2.439178,28.880177,46.491773,48.704470
min,-16.000000,-3.000000,0.000000,62.000000,0.000000,-1194.000000
25%,49.000000,35.000000,6.000000,147.000000,4.136927,4.773460
50%,89.000000,64.000000,8.000000,165.000000,7.292308,8.823529
75%,129.000000,92.000000,9.000000,184.000000,13.176471,15.096774
max,242.000000,119.000000,10.000000,246.000000,1110.000000,1248.000000

In [148]:
y_pred = pipe.predict(X_test)

In [150]:
from sklearn.metrics import accuracy_score

In [151]:
accuracy_score(y_test, y_pred)

0.8089751750477403

In [155]:
pipe.predict_proba(X_test)[100]

array([0.42647712, 0.57352288])

In [156]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Delhi Capitals']

In [157]:
delivery_df['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', 'Cape Town', 'Port Elizabeth', 'Durban',
       'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', nan,
       'Bengaluru', 'Indore', 'Dubai', 'Sharjah'], dtype=object)

In [158]:
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))